[submodule "repo/msgspec"]
	path = repo/msgspec
	url = git@github.com:LmeSzinc/msgspec.git
[submodule "repo/python-zstandard"]
	path = repo/python-zstandard
	url = git@github.com:LmeSzinc/python-zstandard.git
[submodule "repo/hyperframe"]
	path = repo/hyperframe
	url = git@github.com:LmeSzinc/hyperframe.git
[submodule "repo/hpack"]
	path = repo/hpack
	url = git@github.com:LmeSzinc/hpack.git
[submodule "repo/h2"]
	path = repo/h2
	url = git@github.com:LmeSzinc/h2.git
[submodule "repo/wsproto"]
	path = repo/wsproto
	url = git@github.com:LmeSzinc/wsproto.git
[submodule "repo/cffi"]
	path = repo/cffi
	url = git@github.com:LmeSzinc/cffi.git
[submodule "repo/attrs"]
	path = repo/attrs
	url = git@github.com:LmeSzinc/attrs.git
