[submodule "repo/msgspec"]
	path = repo/msgspec
	url = git@github.com:LmeSzinc/msgspec.git
[submodule "repo/python-zstandard"]
	path = repo/python-zstandard
	url = git@github.com:LmeSzinc/python-zstandard.git
[submodule "repo/hyperframe"]
	path = repo/hyperframe
	url = git@github.com:LmeSzinc/hyperframe.git
